* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.artbox--application{
    background-color: #EFEFEF;
    padding: 150px 0 100px;
    background-image: url(/assets/img/bg-wave.png);
    background-repeat: no-repeat;
}
.artbox--content-form {
    display: flex;
    max-width: calc(1604px + 15px * 2);
    width: 100%;
    margin: 0 auto;    
    position: relative;
}
.artbox--form {
    background-color: #FBF7F6;
    display: flex;
    width: 808px;
    height: 351px;
    justify-content: center;
    margin: 0 auto;
    border-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
    z-index: 5;
}
.artbox--application-flowers {
    position: absolute;
    bottom:10px; left: -111px;
    z-index: 0;
}
.form--application {
    z-index: 2;
}
.form--application-text {
    font-family: Montserrat;
    font-size: 15px;
    font-weight: 700;
    line-height: 18px;
    letter-spacing: 0.04em;
    text-align: left;
}
.form--application-text {
    padding: 31px 32px 18px 40px;
}
.form--input {
    margin: 0 0 0 38px;
    padding: 0 36px 0 0;
    z-index: 2;
}
.form--input-top {
    width: 144px;
    background-color: #FBF7F6;
    border: none;
    border-bottom: 1px solid #371030;
    padding: 10px 0 0;
    margin: 15px 0 0;
}
.form--input-top:nth-child(1) {
    margin: 0 32px 0 0;
}
.form--input-bottom {
    width: 324px;
    background-color: #FBF7F6;
    border: none;
    border-bottom: 1px solid #371030;
    padding: 10px 0 0;
    margin: 15px 0 0;
}
.form--input-btn {
    background-color: #FFB0BA;
    width: 324px;
    height: 55px;
    border: none;
    box-shadow: 3px 3px 0px 3px #DE8E98;
    border-radius: 100px;
    font-family: Montserrat;
    font-size: 16px;
    font-weight: 900;
    line-height: 20px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #9A3C48;
    margin: 23px 0 40px 40px;

}