@import url(/assets/styles/application.css);
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
main {
    max-width: calc(1604px + 15px * 2);
    width: 100%;
    margin: 0 auto;
}
ul, ol, li {
    list-style: none;
}
a {
    text-decoration: none;
    color: #86878B;
}
.content {
    max-width: calc(1332px + 15px * 2);
    width: 100%;
    margin: 0 auto;
}